<div class="contentContainerBooking">

  <div class="headerAccount">
    <span class="iconHeader glyphicon glyphicon-bed "></span>
    <div class=labelHeader>Mes réservations</div>

  </div>
  <div>

    <div>Selectionnez la periode pour votre séjour : </div>
    <br>
    <div class="monthsLineContainer">
      <div [attr.id]="'monthid-' + monthSelected.id" class="itemMonthsLine" (click)="selectMonth(monthSelected)" *ngFor='let monthSelected of tabMonths' >
        {{monthSelected.value}}
      </div>
    </div>

    <div>Selectionnez votre maison : </div>
    <select (change)="HouseChangeValue($event)" (ngModel)="house.id">
      <option *ngFor='let house of tabHouses' [value]="house.idHouse">
        {{house.name}}
      </option>
    </select>


  </div>
</div>