@import "./assets/globalColor.less";


.mainContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex: auto;
    flex-direction: column;
    padding-left: 0px !important;
}

.headerComponent{
    
    background-image: url("./assets/header.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid @background_color5;
    height: 30%;
}


.burgerButton{
    width: 45px;
    height: 45px;
    border: none;
    color: @background_color5;
    background-color: transparent;
    font-size: 3rem;
    margin-top: 23vh;
    outline: none;
}

.leftPanel{

    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */

    // background-image: url("./assets/header.png");
    // background-size: 100% 134%;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#300e04+23,ce5724+54,fcdb88+77,f9eac5+99 */

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#300e04+59,ce5724+80,fcdb88+93,f9eac5+99 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e0602+31,300e04+68,ce5724+90,fcdb88+98,f9eac5+100 */
background: #1e0602; /* Old browsers */
background: -moz-linear-gradient(top, #1e0602 31%, #300e04 68%, #ce5724 90%, #fcdb88 98%, #f9eac5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1e0602 31%,#300e04 68%,#ce5724 90%,#fcdb88 98%,#f9eac5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #1e0602 31%,#300e04 68%,#ce5724 90%,#fcdb88 98%,#f9eac5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e0602', endColorstr='#f9eac5',GradientType=0 ); /* IE6-9 */   
    
    height: 70%;
}

.rightPanel{

     background-color:  @background_color5;   
    height: 100%;
    padding: 2%;
}

.contentContainer{
    margin: auto;
    width: 100%;
    height: 80;
    padding-top: 11%;
    border-radius: 30px;
    background-color: @background_color1;
    // filter: blur(9px);

}

.contentMain{
    z-index: 0;
}

.messageAlert{
    color: white;
}


