@import "../assets/globalColor.less";


    .contentContainerContact{

        animation: fadein 2s;
        -moz-animation: fadein 2s; /* Firefox */
        -webkit-animation: fadein 2s; /* Safari et Chrome */
        -o-animation: fadein 2s; /* Opera */
        margin: auto;
        width: 100%;
        height: 101%;
        margin-top: 0%;
        border-radius: 10px;
        background-color:@background_color1;
        // filter: blur(9px);
    
        .headerAccount{
            font-size: 2.5rem;
            color: white;
            background-color: #dc7747;
            border-radius: 10px 10px 0 0;
            height: 10%;
            padding-top: 1%;
            display: flex;
            flex-direction: row;
            flex: auto;
            margin-bottom: 8%;
        }

        .iconHeader{
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 5px;
        }   
    }