<div class="contentContainerAccount">

    <div class="headerAccount">
        <span class="iconHeader glyphicon glyphicon-user "></span>
        <div class=labelHeader>Mon Compte</div>

    </div>

    <div class="tabData">
        <tr>
            <td class="labelData">Prénom :</td>
            <td class="accountData">{{userSelected.lastname}}</td>
        </tr>
        <tr>
            <td class="labelData">Nom :</td>
            <td class="accountData">{{userSelected.firstName}}</td>
        </tr>
        <tr>
            <td class="labelData">Age :</td>
            <td class="accountData">" "</td>
        </tr>
        <tr>
            <td class="labelData">Adresse :</td>
            <td class="accountData">" "</td>
        </tr>
        <tr>
            <td class="labelData">Téléphone :</td>
            <td class="accountData">" "</td>
        </tr>
        <tr>
            <td class="labelData">Email :</td>
            <td class="accountData">" "</td>
        </tr>
        <tr>
            <td class="labelData">Identifiant :</td>
            <td class="accountData">{{userSelected.login}}</td>
        </tr>
        <tr>
            <td class="labelData">Catégorie :</td>
            <td class="accountData">{{_getUserCategory(userSelected.category)}}</td>
        </tr>

    </div>


</div>